<h1>Listing projects</h1>

<table id="projects-table">
  <tr>
    <th>Name</th>
    <th>Start date</th>
    <th>End date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Project</a>